@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Space Mono", Courier, monospace;
}

header {
  width: 100vw;
  min-height: fit-content;
}

section {
  margin: 20px;
  height: fit-content;
}

.logo {
  font-family: Inconsolata, Courier, monospace;
  padding: 40px;
}

#cover-image {
  width: 45%;
  float: left;
  padding-right: 119px;
}

#info {
  width: 45%;
  float: left;
}

#info h1 {
  font-weight: 700;
  font-size: 4rem;
}

#info p {
  font-weight: 400;
  font-size: 1.5rem;
}

#info button {
  background: #333333;
  color: white;
  padding: 24px 43px 23px 43px;
  font-family: "Space Mono", Courier, monospace;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
  #cover-image {
    max-width: 40%;
    width: 30%;
    float: left;
    margin-bottom: 25px;
  }

  #info {
    max-width: 40%;
    width: 30%;

    float: left;
    margin-bottom: 24px;
  }

  footer {
    position: relative;
    bottom: 0;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 980px) {
  .logo {
    padding: 20px 24px;
  }

  #cover-image {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }

  #info {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  #info h1 {
    font-size: 3rem;
  }

  #info p {
    font-size: 1.2rem;
  }

  footer {
    position: relative;
    font-size: 0.8rem;
  }
}
